<section>
  <h2>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    教育经历
  </h2>
  <% education.map(edu => { %>
    <div class="row">
      <div class="col-sm-4"><%- edu.school %></div>
      <div class="col-sm-4"><%- edu.college %></div>
      <div class="col-sm-4 text-sm-right"><%- edu.start %> ~ <%- edu.end %></div>
    </div>
  <% }).join('') %>
</section>
